<div class="flex flex-column absolute top-0 left-0 dialog dialog-animation bg-white" style="z-index: 999999">
    <header class="pt-2 flex flex-column">
        <div class="flex align-items-center justify-content-between px-2">
            <div class="flex align-items-center gap-2">
                <button class="icon-btn text-btn" (click)="closeModal()">
                    <span class="material-symbols-outlined">arrow_back</span>
                </button>
                <input class="text-lg fw-bold" [(ngModel)]="note.name" placeholder="Title..." />
            </div>

            <div class="flex align-items-center gap-2">
                <button class="btn filled-btn" Ripple (click)="save()">
                    Save
                </button>

                <div class="dropdown-menu" [class.expanded]="showMore">
                    <div class="dropbtn" Ripple (click)="showMore = !showMore">
                        <i class="material-symbols-outlined">more_vert</i>
                    </div>

                    <div class="dropdown-content">
                        <div class="dropdown-item" Ripple *ngIf="note.id" (click)="delete()">
                            <i class="material-symbols-outlined">delete</i>
                            Delete
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <tabs [items]="notesTabs" (tabChanged)="tab = $event"></tabs>
    </header>

    <div class="p-3 flex flex-column gap-3 overflow-y-auto overflow-x-hidden h-full" style="min-height: 250px;">
        <div [ngSwitch]="tab">
            <div *ngSwitchCase="'details'">
                <div class="textarea flex flex-column gap-2">
                    <span class="title">Content</span>
                    <textarea [(ngModel)]="note.content" name="content" rows="10"
                        class="w-full h-full border-transparent p-0"></textarea>
                </div>
            </div>
            <div *ngSwitchDefault>
                <m-dropdown [options]="notesColors" [(value)]="note.color" [placeholder]="'Select a color'"
                    [returnValue]="true" (valueChange)="note.color = $event"></m-dropdown>
            </div>
        </div>

        <button class="fab-extended h-3rem w-8rem gap-2 ripple bottom-0 mb-3" (click)="save()">
            <span class="material-symbols-outlined">save</span>
            Save
        </button>
    </div>
</div>
