<button class="icon-btn text-btn ripple" (click)="showSearch = !showSearch">
    <span class="material-symbols-outlined">search</span>
</button>

<div class="flex flex-column absolute top-0 left-0 dialog dialog-animation" style="z-index: 999" *ngIf="showSearch">
    <header class="p-2 flex justify-content-between align-items-center sticky top-0 left-0">
        <button class="icon-btn text-btn" (click)="close()">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <input type="text" class="w-auto" placeholder="Search" [(ngModel)]="searchText" (input)="search()">
        <button class="icon-btn text-btn" (click)="searchText = ''; search()">
            <span class="material-symbols-outlined">close</span>
        </button>
    </header>
    <div class="divider mt-0"></div>

    <div class="flex flex-column p-3 gap-2" *ngIf="searchedPasswords.length === 0 && searchedNotes.length === 0">
        <div class="flex align-items-center gap-2">
            <span class="material-symbols-outlined text-2xl">search</span>
            <span class="title">Search Results</span>
        </div>
        <span class="caption">No results found. Type on the search bar to find something.</span>
    </div>

    <div class="list-container max-h-full overflow-y-auto">
        <div *ngIf="searchedPasswords.length > 0">
            <div class="list">
                <span class="list-title">Passwords</span>
                <div class="list-item" angular-ripple *ngFor="let password of searchedPasswords"
                    (click)="sendSearchEdit('password', password)">
                    <img [src]="favicon(password.url)" alt="PasswordImage">
                    <div class="list-item__content">
                        <span class="list-item__title">{{ password.url }}</span>
                        <span class="list-item__subtitle">{{ password.username }}</span>
                    </div>

                    <div class="flex align-items-center w-3 justify-content-center">
                        <button class="icon-btn text-btn" (click)="copyToClipboard($event, password.password)">
                            <span class="material-symbols-outlined">content_copy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider" *ngIf="searchedPasswords.length > 0 && searchedNotes.length > 0"></div>

        <div *ngIf="searchedNotes.length > 0">
            <div class="list">
                <span class="list-title">Notes</span>
                <div class="list-item" *ngFor="let note of searchedNotes" (click)="sendSearchEdit('note',note)">
                    <div class="notes-icon" [style.backgroundColor]="note.color">
                        <i class="material-symbols-outlined">sticky_note</i>
                    </div>
                    <div class="list-item__content">
                        <span class="list-item__title">{{ note.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
