input
    border: 0 !important
    outline: none !important
    font-family: 'Readex Pro', sans-serif !important
    font-size: 16px !important
    font-weight: 600 !important
    color: #35352D !important
    background-color: transparent !important

.dialog-animation
    animation: dialog 0.5s
    animation-fill-mode: forwards
    height: 40px
    width: 100%

@keyframes dialog
    from
        height: 40px

    to
        height: 100%


.list-container
    padding: 0
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s

    overflow: initial
    overflow-y: initial

    .list
        background-color: #201A18
        padding: 0
        transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s
        border-radius: 0

        display: flex
        flex-direction: column
        height: 100%

        .list-title
            font-family: Readex Pro
            font-weight: 500
            line-height: 24px
            letter-spacing: .1px
            margin-bottom: 0.5rem
            margin-left: 1rem
            font-size: 0.75rem

        .list-item
            padding: 8px 16px
            padding-right: 24px
            background-color: transparent
            height: 48px
            transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s
            cursor: pointer

            display: flex
            align-items: center
            gap: 16px

.notes-icon
    border-radius: 8px
    width: 64px
    height: 34px
    display: flex
    align-items: center
    justify-content: center

    i
        color: white
