// add font face for productsans in ../assets/fonts

@font-face
    font-family: 'Product Sans Regular'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Regular.woff') format('woff')

@font-face
    font-family: 'Product Sans Medium'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Medium'), url('../assets/fonts/ProductSans-Medium.woff') format('woff')

@font-face
    font-family: 'Product Sans Bold'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Bold'), url('../assets/fonts/ProductSans-Bold.woff') format('woff')

@font-face
    font-family: 'Product Sans Italic'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Italic'), url('../assets/fonts/ProductSans-Italic.woff') format('woff')

@font-face
    font-family: 'Product Sans Medium Italic'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Medium Italic'), url('../assets/fonts/ProductSans-MediumItalic.woff') format('woff')

@font-face
    font-family: 'Product Sans Bold Italic'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Bold Italic'), url('../assets/fonts/ProductSans-BoldItalic.woff') format('woff')

@font-face
    font-family: 'Product Sans Light'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Light'), url('../assets/fonts/ProductSans-Light.woff') format('woff')

@font-face
    font-family: 'Product Sans Light Italic'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Light Italic'), url('../assets/fonts/ProductSans-LightItalic.woff') format('woff')

@font-face
    font-family: 'Product Sans Thin'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Thin'), url('../assets/fonts/ProductSans-Thin.woff') format('woff')

@font-face
    font-family: 'Product Sans Thin Italic'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Thin Italic'), url('../assets/fonts/ProductSans-ThinItalic.woff') format('woff')

@font-face
    font-family: 'Product Sans Black'
    font-style: normal
    font-weight: normal
    src: local('Product Sans Black'), url('../assets/fonts/ProductSans-Black.woff') format('woff')

// classes for fonts
.fw-bold
    font-family: 'Product Sans Bold', sans-serif

.fw-medium
    font-family: 'Product Sans Medium', sans-serif

.fw-regular
    font-family: 'Product Sans Regular', sans-serif

.fw-light
    font-family: 'Product Sans Light', sans-serif

