<div class="flex flex-column absolute top-0 left-0 dialog dialog-animation" style="z-index: 999999">
    <header class="p-2 flex justify-content-between align-items-center">
        <div class="flex align-items-center gap-2">
            <button class="icon-btn text-btn" Ripple (click)="closeModal()">
                <span class="material-symbols-outlined">close</span>
            </button>
            <span class="title">{{ title }}</span>
        </div>
    </header>
    <div class="divider mt-0"></div>

    <div class="list-container p-0 bg-transparent fadein animation-duration-500">
        <div class="list p-3 gap-3 bg-transparent">
            <m-input [label]="'URL'" [(value)]="password.url" [inputType]="'text'" [icon]="'http'"
                [name]="'url'"></m-input>

            <m-input [label]="'Username'" [(value)]="password.username" [icon]="'person'" [inputType]="'text'"
                [name]="'username'"></m-input>

            <m-input [label]="'Password'" [(value)]="password.password" [inputType]="'password'" [name]="'password'"
                [icon]="'key'" [showPassword]="true"></m-input>
        </div>

        <footer class="flex align-items-center justify-content-end gap-2 mx-3">
            <button class="btn text-btn" Ripple *ngIf="password.id" (click)="delete()">
                Delete
            </button>
            <button class="btn text-btn" Ripple (click)="save()">
                Save
            </button>
        </footer>
    </div>
</div>
