<div class="flex flex-column h-full w-full absolute top-0 left-0 bg-white" style="z-index: 999999">
    <header class="p-2 flex justify-content-between align-items-center" style="border-bottom: 1px solid #eee">
        <div class="flex align-items-center gap-2">
            <button class="icon-btn text-btn" (click)="closeModal()">
                <span class="material-symbols-outlined">arrow_back</span>
            </button>
            <span class="fw-bold text-base">{{ title }}</span>
        </div>

        <button class="icon-btn text-btn" *ngIf="password.id" (click)="delete()">
            <span class="material-symbols-outlined">delete</span>
        </button>
    </header>

    <div class="p-3 flex flex-column gap-3 overflow-y-auto">
        <m-input [placeholder]="'URL'" [(value)]="password.url" [inputType]="'text'" [icon]="'http'"
            [name]="'url'"></m-input>

        <m-input [placeholder]="'Username'" [(value)]="password.username" [icon]="'person'" [inputType]="'text'"
            [name]="'username'"></m-input>

        <m-input [placeholder]="'Password'" [(value)]="password.password"
            [inputType]="'password'" [name]="'password'"
            [icon]="'key'" [showPassword]="true"></m-input>

        <footer>
            <button class="btn filled-btn w-full ripple" (click)="save()">
                <span class="material-symbols-outlined">save</span>
                Save
            </button>
        </footer>
    </div>
</div>
