<div class="p-3 pt-0 flex flex-column gap-2 overflow-y-auto w-100 h-14rem pb-6">
    <div class="password-card flex align-items-center gap-3" *ngFor="let password of passwords" (click)="editPassword(password)">
        <img [src]="favicon(password.url)" alt="PasswordImage">
        <div class="flex flex-column w-full">
            <span class="fw-bold text-base">{{ password.url }}</span>
            <span class="text-sm text-500 fw-regular">{{ password.username }}</span>
        </div>

        <div class="flex gap-3 align-items-center w-3">
            <button class="icon-btn text-btn" (click)="copyToClipboard($event, password.password)">
                <span class="material-symbols-outlined">content_copy</span>
            </button>
        </div>
    </div>
</div>
