<button class="icon-btn text-btn ripple" (click)="showProfileModal = !showProfileModal">
    <span class="material-symbols-outlined">search</span>
</button>

<div class="flex flex-column absolute top-0 left-0 dialog dialog-animation" style="z-index: 999"
    *ngIf="showProfileModal">
    <header class="p-2 flex justify-content-between align-items-center sticky top-0 left-0">
        <button class="icon-btn text-btn" (click)="showProfileModal = false">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <div class="flex flex-column gap-3">
            <div class="flex align-items-center gap-2">
                <span class="text-primary text-lg fw-bold bg-secondary" *ngIf="user.image.length === 0">{{
                    user.username.substring(0, 1) }}</span>
                <img [src]="user.image" class="border-circle" alt="avatar" width="25" height="25"
                    *ngIf="user.image.length !== 0">
                <span class="caption">{{ user.username }}</span>
            </div>
            <span class="title">Profile</span>
        </div>
    </header>
    <div class="divider mt-0"></div>

    <div class="list-container max-h-full overflow-y-auto">
        <div class="list">
            <span class="list-title">Options</span>
            <div class="list-item" angular-ripple *ngFor="let option of profileOptions"
                (click)="showOption(option.action)">
                <i class="material-symbols-outlined">{{ option.icon }}</i>
                <div class="list-item__content">
                    <span class="list-item__title">{{ option.title }}</span>
                    <span class="list-item__subtitle">{{ option.subtitle }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
