$bg-color: #201A18
$bg-secondary: #322621
$bg-tertiary: #302622

$primary-color: #FFDBCB
$primary-color-hover: #FFB691
$primary-color-active: #FFB691
$primary-color-disabled: #F7F3FC

$secondary-color: #272220
$secondary-color-hover: #52433D
$secondary-color-active: #52433D
$secondary-color-disabled: #F7F3FC

$tertiary-color: #372924
$tertiary-color-hover: #5C5B01
$tertiary-color-active: #565501
$tertiary-color-disabled: #F7F3FC

$text-color: #F2E3DE
$text-secondary: #FFB793
$border-color: #50443E
$border-color-2: #94827B
$font-family: 'Readex Pro', sans-serif

@import 'sass/variables'
@import 'sass/typography'
@import 'sass/inputs'
@import 'sass/buttons'
@import 'sass/dropdown'
@import 'sass/tabs'
@import 'sass/lists'
@import 'sass/divider'
@import 'sass/tabs'
@import 'sass/navigation-bar'
@import 'sass/checkbox'
@import 'sass/ripple'
@import 'sass/radio'
@import 'sass/slider'
