$bg-color: #EEEBD8
$bg-secondary: #FFFCF3
$bg-tertiary: #E6E3D1

$primary-color: #AEF0D6
$primary-color-hover: #A2E9D0
$primary-color-active: #9DE5CC
$primary-color-disabled: #F7F3FC

$secondary-color: #E6E4C0
$secondary-color-hover: #E0DDB6
$secondary-color-active: #DAD7AC
$secondary-color-disabled: #F7F3FC

$tertiary-color: #E3DFD0
$tertiary-color-hover: #DCD9CA
$tertiary-color-active: #D9D6C7
$tertiary-color-disabled: #F7F3FC

$text-color: #474E44
$text-secondary: #1C1D06
$border-color: #7D7C6D
$font-family: 'Readex Pro', sans-serif

@import 'sass/variables'
@import 'sass/typography'
@import 'sass/inputs'
@import 'sass/buttons'
@import 'sass/dropdown'
@import 'sass/tabs'
@import 'sass/lists'
@import 'sass/divider'
@import 'sass/tabs'
@import 'sass/navigation-bar'
@import 'sass/checkbox'
@import 'sass/ripple'
@import 'sass/radio'
@import 'sass/slider'
