.spinner-border
    display: block
    margin: 0 auto

    .sr-only
        border: 0
        clip: rect(0, 0, 0, 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px

@keyframes spinner-border
    to
        transform: rotate(360deg)

.spinner-border
    animation: spinner-border .75s linear infinite
    border: .25em solid currentColor
    border-right-color: transparent
    border-radius: 50%
    display: inline-block
    height: 3rem
    width: 3rem
    vertical-align: text-bottom

.search-bar
    padding: 12px 16px
    margin-bottom: 0
    font-family: 'Readex Pro'
    font-weight: 500
    font-size: 14px
    cursor: pointer
    color: #000
    border-bottom: 1px solid #ECECEC

.profile-btn
    height: 50px
    width: 50px
    border: 0
    border-radius: 50%
    display: flex
    align-items: center
    padding: 0
    justify-content: center
    transition: all .3s ease-in-out

.dropdown-menu.show:has(.profile-btn) .profile-btn
    border-radius: 12px

