<div *ngIf="!loading">
    <header class="flex flex-column bg-white">
        <div class="header-top flex align-items-center justify-content-between p-3 py-2">
            <h1 class="title m-0">
                Strong Box
            </h1>
            <div class="flex gap-1 align-items-center">
                <app-search (searchEdit)="searchEdit($event)" [passwords]="passwordsBackup"
                    [notes]="notesBackup"></app-search>
                <app-profile-modal [user]="user"></app-profile-modal>
            </div>
        </div>
        <tabs [items]="homeTabs" (tabChanged)="tab = $event"></tabs>
    </header>

    <div [ngSwitch]="tab">
        <div *ngSwitchCase="'passwords'" class="list-container" [class.isScrolled]="isScrolled">
            <passwords [passwords]="passwordsBackup" (editPasswordModal)="editPassword($event)"></passwords>
        </div>
        <div *ngSwitchCase="'notes'" class="list-container">
            <notes [notes]="notesBackup" (editNoteModal)="editNote($event)"></notes>
        </div>
        <div *ngSwitchCase="'payments'" class="list-container">
            output3
        </div>
    </div>

    <button class="fab" Ripple (click)="create()">
        <span class="material-symbols-outlined">add</span>
    </button>
</div>

<password-modal *ngIf="showPasswordModal" (close)="closePassword()" (savePassword)="savePassword($event)"
    (deletePassword)="deletePassword($event)" [password]="password"></password-modal>
<note-modal *ngIf="showNoteModal" (close)="closeNote()" (saveNote)="saveNote($event)" (deleteNote)="deleteNote($event)"
    [note]="note"></note-modal>

<div *ngIf="loading" class="w-full h-full flex align-items-center justify-content-center py-8">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
